{% extends 'base.html' %}
{% block content %}
<h4 style="text-align: center; " class="text-white"> About Estate Agency</h4>
<div class="card-container" style="display: flex;  justify-content:center;">
    <a href="/about" style="text-decoration: none; color: inherit; ">
       <div class="card" style="width: 18rem;  margin-right: 50px;">
        <img src="static/assets/img/mission.jpg" class="card-img-top" >
        <div class="card-body">
         <h5 class="card-title">Our mission</h5>
         <p class="card-text">At Estate agency, our mission is to provide the best possible real estate services to our clients. We believe in delivering the highest level of customer service, and we pride ourselves on our attention to detail and professionalism. </p>
      
        </div>
      </div>
  </a>
 <a href="/about" style="text-decoration: none; color: inherit; ">
    <div class="card" style="width: 18rem;  margin-right: 50px;">
    <img src="static/assets/img/our team.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Our Team</h5>
      <p class="card-text"> our team of experienced and knowledgeable real estate agents are dedicated to helping our clients achieve their real estate goals. We are commited to staying up-to-date with the latest trends and technologies in the industry to ensure that our clients have access to the best information and resources. </p>

    </div>
  </div>
 </a>
 <a href="/about" style="text-decoration: none; color: inherit; ">
  <div class="card" style="width: 18rem;  margin-right: 50px;">
    <img src="static/assets/img/serviece.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Our Services</h5>
      <p class="card-text">At Estate agency, we offer a wide range of real estate service to meet the need of our clients. Whether you are looking to buy or sell a property, we have the expertise and experience to help you achieve your goals.</p>
      
    </div>
  </div>
 </a>
</div> 

{% endblock content %}